#page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 50px 0px 50px;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
  padding: 30px;
}

#profile-icon {
  transform: scale(5);
}