<div id="options">
  <div>
    <button mat-button cdkOverlayOrigin #trigger="cdkOverlayOrigin"
      (click)="helpOverlayOpened = !helpOverlayOpened">
      <mat-icon
          fontIcon="help icon"
      ></mat-icon>
    </button>
    
    <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
      <button mat-button>
        <mat-icon
        fontIcon="account_circle"
        ></mat-icon>
      </button>
    </a>
  </div>

  <router-outlet></router-outlet>
  
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="helpOverlayOpened"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="helpOverlayOpened = false"
    >
    <mat-card class="overlay-container" style="display: flex; flex-direction: column; text-align: start; padding: 20px;">
      <h1>Help</h1>
      <mat-list id="help-list">
        <mat-list-item>
          <span matListItemTitle><mat-icon>mouse icon</mat-icon>Change line width</span>
          <span matListItemLine>Right click</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle><mat-icon>undo</mat-icon>Undo</span>
          <span matListItemLine>Ctrl + Z</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle><mat-icon>redo</mat-icon>Redo</span>
          <span matListItemLine>Ctrl + Shift + Z</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle><mat-icon>pan_tool</mat-icon>Move</span>
          <span matListItemLine>Spacebar + Mouse</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle><mat-icon>zoom_in</mat-icon>Zoom</span>
          <span matListItemLine>Scroll Wheel</span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </ng-template>
</div>