<div id="toolbar">
  <ng-container *ngFor="let t of tools">
    <button
      mat-button
      (click)="t.onclickFunction(t.name)"
      [ngClass]="{ 'tool-selected': selectedTool.name === t.name }"
    >
      <mat-icon fontIcon="{{ t.iconName }}"></mat-icon>
    </button>
  </ng-container>
</div>

<div id="container-canvas">
  <canvas
    id="canvas"
    #canvas
    (mousemove)="onMouseMove($event)"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mouseout)="onMouseOut()"
    (contextmenu)="onRightClick($event)"
  ></canvas>
</div>
